# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# kiro
.kiro

# agents
.agents

# Node
node_modules/

# Build (frontend ou geral)
dist/

#firebase_options
mobile/lib/firebase_options.dart

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# iOS/macOS Pods
ios/Pods/
macos/Pods/
mobile/ios/Pods/
mobile/macos/Pods/
